*{
    list-style: none;
    text-decoration: none; 
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.nav .logo img {
    width: 150px;
}

.nav .nav_but a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}
.nav_but a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    transition: color 0.3s ease, font-weight 0.3s ease;
    position: relative; 
}
.nav_but a:hover {
    color: rgba(140, 38, 38, 0.663);
    font-weight: bold;

}
.nav_but a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; 
    height: 3px;
    background-color: black; 
    transition: width 0.3s ease;
    width: 100%; 
}

.header{
    background: url(./img/bg.jpg); 
    background-position: center; 
    background-size: cover; 
    height:700px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .title{
    text-align: center;
}

.header .title img{
    width:100px;
}

.header .title h1{
    font-size:40px;
    color:#444;
    letter-spacing: 0.2em; 
    margin-bottom:0; 
}

.header .title p{
    margin-top:0;
    margin-bottom:30px;
    color:#444;
}

.header .title button{
    background: black;
    color: white;
    border:2px solid white; 
    border-radius:5px; 
    padding:10px 30px;
    font-size:14px;
    transition: .5s ease;
}

.header .title button:hover{
    transition: .5s ease;
    border:2px solid rgba(140, 38, 38, 0.663);
    background: transparent;
    color: rgba(140, 38, 38, 0.663);
}
.header .title:hover h1,
.header .title:hover p {
    color: rgba(140, 38, 38, 0.663);
    transition: color 0.3s ease;
}

.header .title h1,
.header .title p {
    transition: color 0.3s ease;
}


.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.intro .card{
    flex:1;
    text-align: center;
    margin: 150px 40px;
}

.intro .card i{
    font-size: 70px;
    color: #444;
    margin-bottom: 30px;
}

.intro .card h1{
    letter-spacing: 0.2em;
}

.intro .card p{
    font-size: 10px;
}
.service{
    background: #ddd;
}

.service .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin:auto;
}

.service .img{
    height: 300px;
}

.service .img img{
    height: 100%;
    width: auto;
}

.service .text{
    text-align: end; 
    color: #444;
    padding-left:100px;
}

.service .text h1{
    letter-spacing: 0.2em;
}

.service .text p{
    word-wrap: break-word; 
    word-break: keep-all; 
    font-size:12px;
}

.service .text button{
    background: black;
    color: white;
    border:2px solid white;
    border-radius:5px;
    padding:5px 15px;
    font-size:14px;
    transition: .5s ease;
}

.service .text button:hover{
    transition: .5s ease;
    border:2px solid black;
    background: transparent;
    color:black;
}
footer{
    color: white;
    background: black;
    padding-top:50px;
    padding-bottom: 50px;
}

footer .container{
    max-width: 1000px;
    margin:auto;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
footer .container .left{
    flex: 1;
}

footer .container .left h1{
    margin: 0;
}

footer .container .left p{
    margin: 0;
    font-size: 10px;
}

footer .container .left .sns{
    margin-top: 30px;
}

footer .container .left .sns i{
    font-size: 24px;
    margin-right: 20px;
}

footer .container .right{
    flex: 3;
    padding-left:50px;
}

footer .container .right{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .right .list{
    flex: 1;
    margin-left:20px;
}

footer .container .right .list h2{
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

footer .container .right .list ul{
    list-style: none;
    padding: 0;
}

footer .container .right .list ul li{
    padding: 5px 5px;
}

footer .container .right .list ul li:hover{
    background: #222;
}
footer .copy_right{
    text-align: center;
}

footer .copy_right p{
    font-size: 10px;
    margin: 0;
}

.nav .login-btn, .add-btn, .search-btn {
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}


.nav .login-btn:hover, .add-btn:hover, .search-btn:hover {
    background-color: rgba(140, 38, 38, 0.663); 
    color: white;
}

.intro {
    width: 200px;
}


.card {
    opacity: 0; /* 초기 상태: 투명 */
    transform: translateY(20px); /* 초기 상태: 아래에서 위로 이동 */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* 애니메이션 효과 */
}

.card.visible {
    opacity: 1; /* 최종 상태: 불투명 */
    transform: translateY(0); /* 최종 상태: 원래 위치로 */
}
